@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    padding-right: 0;
  }
}

/* Custom Swiper Pagination Progress */
.custom-stat-swiper .swiper-pagination {
  bottom: 0px !important;
}

.custom-stat-swiper .swiper-pagination-bullet {
  width: 24px;
  height: 4px;
  border-radius: 4px;
  background: #e4e4e7; /* Zinc 200 */
  opacity: 1;
  transition: all 0.3s ease;
}

.custom-stat-swiper .swiper-pagination-bullet-active {
  background: #059669; /* Emerald 600 */
  position: relative;
  overflow: hidden;
}

.custom-stat-swiper .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  animation: progress-fill 3s linear forwards;
}

@keyframes progress-fill {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
